@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    /* text */
    --body-font: 'Poppins', sans-serif;
    --text-color: #37383C;
    --shadow-text: 1px 1px 1px rgba(0, 0, 0, 0.3);

    /* colors */
    --bnt-booking-hover: #F56300;
    --header-background: #0A2680;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}

body {
    width: 100%;
    height: 100vh;
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: #FFFFFF;
}

body::-webkit-scrollbar {
    width: 6px;
    opacity: 1;
}

body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #0c0142;
} 

.container-header{
    height: 470px;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.container-header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 470.5px;
    border-radius: 0 0 20px 20px;
    opacity: .75;

}

.container-header header{
    position: relative;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2em;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.links, .btn-booking {
    text-decoration: none;
    color: #FFFFFF;
}

.links i {
    margin-right: 10px;
}

.links:hover {
    color: #0c0142;
    font-weight: 500;
}

.btn-booking {
    padding: 8px 8px;
    width: 200px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background: none;
    cursor: pointer;
}

.btn-booking:hover{
    border: 1px solid var(--bnt-booking-hover);
    background-color: var(--bnt-booking-hover);
}


#btn-mobile {
    background: none;
    border: 0;
    margin: 0;
    display: none;
    cursor: pointer;
}

#btn-mobile i {
    font-size: 2rem;
}

/* titulos */

.text-box {
    width: 100%;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box h1 {
    font-size: 3.7em;
}

.text-box p {
    font-size: 1.2em;
}

.container {
    padding: 0 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.title-sections {
    font-size: 2em;
}

.container p {
    padding-bottom: 20px;
}

/* quartos */

.quartos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.card-quarto {
    width: 320px;
    height: 320px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(3, 15, 46, .2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .6s;
}

.card-quarto:hover {
    box-shadow: inset 0 0 2em rgba(191, 199, 211, 0.2), 0 0 10px rgba(3, 15, 46, .3);
    color: #F56300;
}

.card-quarto:hover a {
    color: #F56300;
}

.card-quarto:hover  .img-size{
    transform: scale(1.02);
    /* box-shadow: 2px 2px 10px rgba(3, 15, 46, .2); */
}

.img-size {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 25px;
    background-size: cover ;
    background-position-x: 60%;
    transition: .6s;
}

.solteiro {
    background-image: url(/assets/imagens/quarto-solteiro1.jpg);
}
.casal {
    background-image: url(/assets/imagens/quarto-casal1.jpg);
}
.familia {
    background-image: url(/assets/imagens/quarto-familia1.jpg);
    background-position-x: 100%;
}

.card-quarto a {
    text-decoration: none;
    color: #37383C;
    font-size: 1.2em;
    cursor: pointer;
}

/* rota */

.container-rota {
    background-color: #FAFAFA;
}

.rota {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rota img {
    width: 400px;
}

.rota iframe {
    width: 680px;
    height: 400px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(3, 15, 46, .5);
}


/* sobre a pousada */

.info-pousada {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: .5em; */
}

.sobre {
    width: 250px;
    background-color: rgba(255, 255, 255, .8);
    margin-bottom: 10px;
    border-radius: 5px;
}

.sobre h3 {
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: 5px;
    padding: 0 10px;
}

.sobre p {
    font-size: .8em;
    text-align: justify;
    letter-spacing: .3px;
    line-height: 20px;
    padding: 0 10px 10px;
    padding-bottom: 10px;
}

.sobre img {
    width: 250px;
    height: 150px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

/* form de inscricao */

form {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
}

form img {
    width: 200px;
    height: 200px;
    /* margin-bottom: 15px; */
}

form p {
    margin-bottom: 25px;
    color: #37383c;
    font-size: 2em;
    font-weight: 600;
}

.container-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cadastro-email {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.cadastro-email  input {
    width: 600px;
    height: 50px;
    margin-right: 15px;
    color: #454545;
    padding: 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 20px;
    background: #FFFFFF;
    box-sizing: border-box;
    outline: none;
}

.cadastro-email button {
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15pt;
    font-weight: 500;
    background: #0A2680;
    outline: none;
}

.cadastro-email button:hover {
    cursor: pointer;
    background: #0e33ac;
}

.cadastro-email  input::placeholder {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.checkbox {
    color: #37383c;
    font-size: 10pt;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */

footer {
    margin: 0;
	bottom: 0;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0A2680;
    box-sizing: border-box;
    overflow: hidden;
}

.wave {
    position: static;
    width: 100%;
    height: 120px;
    background-image: url(/assets/imagens/wave.svg);
    background-size: cover;
    background-position-y: 55%;
}



.info-contato {
    margin: 0;
    padding: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}


.info-contato a {
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 10pt;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.info-contato .link-contato {
    margin: 0;
    font-size: 10pt;
    text-decoration: none;
    color: #F56300;
    font-weight: 500;
}

.info-contato p {
    margin: 0;
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.icon-down {
    color: #FFFFFF;
    font-size: 12pt;
    padding-right: 10px;
}

.text-footer {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-footer h1 {
    font-size: 30pt;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.text-footer p {
    margin: 0;
    font-size: 10pt;
}

/* botao back-to-top */

.back-to-top {
    width: 45px;
    height: 42.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: fixed;
    bottom: 42px;
    right: 25px;
    width: 40px;
    z-index: 3;
    cursor: pointer;
    display: none;
}

.back-to-top i {
    object-fit: cover;
    font-size: 2.4em;
    font-weight: bold;
    color: #ff5900;
}