@media only screen and (max-width: 400px) {

    body::-webkit-scrollbar {
        display: none;
    }

    .container-header {
        height: 200px;
    }

    .container-header header {
        padding: 10px 15px;
    }

    .container-header video {
        height: 200.5px;
    }

    #btn-mobile {
        display: block;
    }

    .navigation a {
        display: none;
    }

    .logo {
        font-size: 1em;
        padding-left: 15px;
    }

    .text-box {
        top: 30%;
    }

    .text-box h1 {
        font-size: 1.5em;
    }
    
    .text-box p {
        font-size: .5em;

    }

    .container {
        height: 80vh;
        padding: 0 25px;
    }

    .container p {
        font-size: .7em;
        padding-bottom: 0;
    }

    .title-sections {
        font-size: 1em;
        margin-bottom: 5px;
    }

    /* quartos */

    .quartos {
        flex-direction: column;
        margin-top: 20px;
        gap: 1.5em;
    }

    .img-size {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin-bottom: 0;
    }

    .card-quarto {
        width: 100%;
        height: 85px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(3, 15, 46, .2);
    
        flex-direction: row;
        justify-content: space-around;
       
    }

    .card-quarto a {
        font-size: .8em;
    }

    /* rota */

    .container-rota {
        height: 70vh;
    }

    .rota {
        flex-direction: column;
        padding-top: 0px;
    }

    .rota img {
        width: 100px;
        margin: 20px 0;
    }

    .rota iframe {
        width: 260px;
        height: 150px;
    }

    /* sobre a pousada */

    .container-sobre {
        height: 80vh;
    }

    .info-pousada {
        flex-wrap: nowrap;
        overflow-y: hidden;
        gap: 2em;
    }

    .info-pousada::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        opacity: 1;
    }
    
    .info-pousada::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(255, 115, 0, 0.5);
    } 

    .sobre {
        /* border: 1px solid black; */
        width: 310px;
        margin-bottom: 20px;
        padding: 10px 0;
    }

    .sobre img {
        width: 309px;
        height: 200px;
    }

    /* formulario */

    form {
        height: 60vh;
        padding: 10px;
        margin-top: 20px;
    }

    form p {
        font-size: 1em;
        text-align: center;
    }

    form img {
        width: 100%;
        height: 150px;
    }

    .container-form {
        width: 85%;
    }

    .cadastro-email  input {
        width: 200px;
        height: 30px;
        font-size: 15px;
        padding: 5px;
    }

    .cadastro-email  input::placeholder {
        font-size: 12px;
    }

    .cadastro-email button {
        width: 85px;
        height: 30px;
        font-size: 15px;
    }

    .checkbox {
        font-size: 9px;
    }

    /* footer */

    footer {
        flex-direction: column-reverse;
        height: 120px;
    }

    .wave {
        height: 50px;
    }

    .icon-down {
        font-size: 10px;
        padding-right: 5px;
    }

    .info-contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        margin-bottom: 10px;
        gap: .5em
    }
    
    .info-contato p, .info-contato a, .info-contato .link-contato {
        font-size: 7px;
    }

    .text-footer h1 {
        font-size: 1.5em;
    }

    .text-footer p {
        font-size: .5em;
    }

}